<!-- <table id="modeltable" class="modeltable" style="display:none">
  <thead>
    <th><div align="center">Old 3DS/2DS</div></th>
    <th><div align="center">New 3DS/2DS</div></th>
  </thead>
  <tbody>
    <td> <img class="tableimage" src="/images/old3ds.png" alt="old 3DS"> <img class="tableimage" src="/images/old3dsxl.png" alt="old 3DS"> <img class="tableimage" src="/images/2ds.png" alt="old 3DS"><br><br><input type="radio" name="checkbox" id="old3DS"></td>
    <td> <img class="tableimage" src="/images/new3ds.png" alt="old 3DS"> <img class="tableimage" src="/images/new3dsxl.png" alt="old 3DS"> <img class="tableimage" src="/images/new2dsxl.png" alt="old 3DS"><br><br><input type="radio" name="checkbox" id="new3DS"></td>
  </tbody>
</table> -->
<div id="selectversion" class="selectversion" style="display:none">
    <br>
    <select id="major">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
    </select>.<select id="minor">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
    </select>.<select id="whydidnintendodecidetodothingslikethis">
      <option>0</option>
    </select>-<select id="nver">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
        <option>32</option>
        <option>33</option>
        <option>34</option>
        <option>35</option>
        <option>36</option>
        <option>37</option>
        <option>38</option>
        <option>39</option>
        <option>40</option>
        <option>41</option>
        <option>42</option>
        <option>43</option>
        <option>44</option>
        <option>45</option>
        <option>46</option>
        <option>47</option>
        <option>48</option>
        <option>49</option>
    </select><select id="region">
      <option>E</option>
      <option>U</option>
      <option>J</option>
      <option>K</option>
      <option>T</option>
      <option>C</option>
    </select>
    <br>
    <input type="button" onclick="redirect()" value="Confirm">
</div>

<script>
//document.getElementById("modeltable").style.display = "block";
document.getElementById("selectversion").style.display = "block";
</script>

<p id="result_noneSelected" style="display:none">{{ include.noneSelected }}</p>
<p id="result_invalidVersion" style="display:none">{{ include.invalidVersion }}</p>
<p id="result_methodUnavailable" style="display:none">{{ include.methodUnavailable }}</p>

<script src="/assets/js/selecting.js"></script>

<noscript>Please enable JavaScript to continue with the guide.</noscript>
