---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

select {
    background-color: #2e3440;
    color: #d8dee9;  
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #585d66;
}

input {
    color: #d8dee9;  
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #585d66;
}

input:hover {
    background-color: #767a80;
}

.selectversion {
    background-color: #2e3440;
    text-align: center;
    border: 1px solid #585d66;
    border-radius: 10px;
}

img.tableimage {
    height: 40%;
    width: 40%;
}

table.modeltable {
    text-align: center;
}

input[type="radio"] {
    width: 50px;
    height: 25px;
    transition: none;
}
